.header__lang-link {
  align-self: center;
  margin-left: 18px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  padding-top: 10px;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
