.header__lang-link {
  align-self: center;
  margin-left: 18px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-decoration-line: underline;
}

.header__lang-link:last-child {
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    padding-top: 10px;
    font-size: 18px;
    line-height: 20px;
  }
}
