.header {
  max-width: 1184px;
  height: 52px;
  margin: 28px 48px 56px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

@media screen and (max-width: 1023px) {
  .header {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    height: 42px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
