.footer {
  max-width: 1184px;
  height: 52px;
  margin: 28px auto 56px;
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, max-content)) auto;
  column-gap: 18px;
}

@media screen and (max-width: 566px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 32px;
  }
}

